#footer
  .foot
    %ul.menuFoot
      %li
        %a{:href => "#", :title => "Home"}
          Home
      %li
        %a{:href => "#", :title => "events"}
          Events
      %li
        %a{:href => "#", :title => "about csi"}
          About CSI
      %li.last
        %a{:href => "#", :title => "contact us"}
          Contact Us
    %p.copy
      © Copyright 2010 Crowd Sourcing International - All Rights Reserved
    %br.clear/
    %div